
@{
    ViewBag.Title = "ABOUT";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Hello ABOUT</h2>

@section SubHeader
{
    <p style="background-color:green">header</p>
}

@section subfooter
{
    <p style="background-color: green">footer</p>}