
@{
    Layout = null;
}
@model Bai2.Models.KhoaModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2 style="color: red">Thông tin khoa CNTT</h2>
        <p>Tên Khoa: @Model.TenKhoa</p>
        <p>Năm Thành Lập: @Model.namThanhLap</p>
        <p>Messeage: @Model.message</p>
    </div>
</body>
</html>
